StackLayout {
    background-color: #7FD3CB;
}

.capitalize {
    text-transform: capitalize;
}

.details-wrapper {
    background-color: rgb(165, 224, 218);
}

.back-button {
    margin-left: -110;
    margin-top: -250;
    margin-bottom: 250;
    height: 30;
    width: 30;
}

.back-button Image {
    height: 30;
    width: 30;
}


.background-img{
    margin-top: -50;
    width: 100%;
}

.background-img Image {
    opacity: 0.4;
    -webkit-filter: grayscale(80%); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(80%); /* Microsoft Edge and Firefox 35+ */
}

.user-details {
    margin-top: -95vh;
}

.user-details Image {
    width: 120vw;
    height: 120vw;
    border-width: 2;
    border-radius: 150;
    border-color: #578C87;
}

.light-color {
    background-color: rgb(181, 228, 223);
}

.user-name {
    margin-bottom: 20;
    flex-direction: column;
    align-items: center;
}

.user-name .name Label{
    margin-top: 10;
    text-transform: capitalize;
    color: #ffffff;
    font-size: 25dpi;
}

.user-name .info {
    color: #578C87;
}

.user-information {
    padding-right: 5;
    height: 65vh;
    justify-content: center;
    align-items: center;
}

.user-information Label {
    color: #578C87;
}