<StackLayout>
    <ScrollView>
        <FlexboxLayout class="details-wrapper m-20" flexDirection="column" alignItems="center">


            <StackLayout class="background-img">
                <Image [src]="person.picture.large"></Image>
            </StackLayout>


            <AbsoluteLayout class="back-button" (onTap)="goPageBack()">
                <Image src="~/images/user-details/back.png"></Image>
            </AbsoluteLayout>


            <FlexboxLayout class="user-details">
                <Image [src]="person.picture.large"></Image>
            </FlexboxLayout>

            <FlexboxLayout class="user-name">
                <FlexboxLayout class="name">
                    <Label textWrap="false" [text]="person.name.first"></Label>
                    <Label class="m-l-5" textWrap="false" [text]="person.name.last"></Label>
                </FlexboxLayout>

                <Label class="info" text="Seit 9 Monaten und 6 Tagen in Spanien"></Label>
            </FlexboxLayout>


            <FlexboxLayout class="user-information light-color" width="100%">
                <FlexboxLayout flexWrap="nowrap" justifyContent="center" alignItems="center" width="20%">
                    <Image width="20" src="~/images/user-details/world.png"></Image>
                </FlexboxLayout>

                <FlexboxLayout flexWrap="wrap" width="80%">
                    <Label [text]="person.location.street + ', '" class="capitalize"></Label>
                    <Label class="p-r-5" [text]="person.location.postcode"></Label>
                    <Label [text]="person.location.city" class="capitalize"></Label>
                </FlexboxLayout>
            </FlexboxLayout>

            <FlexboxLayout class="user-information" flexDirection="row" width="100%">
                <FlexboxLayout flexWrap="nowrap" justifyContent="center" alignItems="center" width="20%">
                    <Image width="20" src="~/images/user-details/phone.png" ></Image>
                </FlexboxLayout>

                <FlexboxLayout flexWrap="wrap" width="80%">
                    <Label [text]="person.cell"></Label>
                </FlexboxLayout>
            </FlexboxLayout>



            <FlexboxLayout class="user-information light-color" width="100%">
                <FlexboxLayout flexWrap="nowrap" justifyContent="center" alignItems="center" width="20%">
                    <Image height="20" src="~/images/user-details/mail.png" ></Image>
                </FlexboxLayout>

                <FlexboxLayout flexWrap="wrap" width="80%">
                    <Label [text]="person.email"></Label>
                </FlexboxLayout>
            </FlexboxLayout>

        </FlexboxLayout>

        <ActivityIndicator *ngIf="isLoading " [busy]="isLoading " class="activity-indicator "></ActivityIndicator>
    </ScrollView>
</StackLayout>