<TabView [selectedIndex]="selectedIndex" (selectedIndexChange)="onIndexChanged($event)" iosIconRenderingMode="alwaysOriginal">
    <ActionBar [title]="actionBarTitle">
        <NavigationButton text=""></NavigationButton> <!--android.systemIcon="ic_menu_back"-->
    </ActionBar>


    <ng-template tabItem [iconSource]="selectedIndex == 0 ? 'res://map_orange' : 'res://map'">
        <StackLayout>
            <map></map>
        </StackLayout>
    </ng-template>

    <ng-template tabItem [iconSource]="selectedIndex == 1 ? 'res://contact_orange' : 'res://contact'">
        <FlexboxLayout flexDirection="column">

            <ListView  [items]="randomUserList" [class.visible]="listLoaded" (itemTap)="onUserTab($event)">
                <ng-template let-item="item">

                    <FlexboxLayout class="p-l-10" flexDirection="row">

                        <FlexboxLayout width="70">
                            <Image [src]="item.picture.thumbnail" ></Image>
                        </FlexboxLayout>

                        <FlexboxLayout class="m-l-20" flexDirection="row" flexGrow="1">
                            <ios>
                                <FlexboxLayout class="p-t-15" flexDirection="column">
                                    <StackLayout orientation="horizontal">
                                        <Label class="capitalize" textWrap="false" [text]="item.name.first"></Label>
                                        <Label class="capitalize m-l-5" textWrap="false" [text]="item.name.last"></Label>
                                    </StackLayout>

                                    <StackLayout orientation="horizontal">
                                        <Label class="capitalize city" textWrap="false" [text]="item.location.city"></Label>
                                    </StackLayout>
                                </FlexboxLayout>
                            </ios>

                            <android>
                                <FlexboxLayout class="p-t-15" flexDirection="column">
                                    <FlexboxLayout flexDirection="row">
                                        <Label class="capitalize" textWrap="false" [text]="item.name.first"></Label>
                                        <Label class="capitalize m-l-5" textWrap="false" [text]="item.name.last"></Label>
                                    </FlexboxLayout>

                                    <FlexboxLayout flexDirection="row">
                                        <Label class="capitalize city" [text]="item.location.city"></Label>
                                    </FlexboxLayout>
                                </FlexboxLayout>
                            </android>
                        </FlexboxLayout>


                        <FlexboxLayout width="50" (onTap)="onFavoriteIconTap(item)">
                            <Image width="20" [src]="item.favorite ? '~/images/heart2_filled.png' : '~/images/heart2_empty.png'"></Image>
                        </FlexboxLayout>


                    </FlexboxLayout>
                </ng-template>
            </ListView>

            <ActivityIndicator #activityIndicator [busy]="isLoading" [visibility]="isLoading ? 'visible' : 'collapse'" width="30" height="30"></ActivityIndicator>

        </FlexboxLayout>
    </ng-template>

    <ng-template tabItem [iconSource]="selectedIndex == 2 ? 'res://setting_orange' : 'res://setting'">
        <StackLayout>
            <FlexboxLayout flexDirection="column">
                <!-- Reverse the natural flow of items -->
                <FlexboxLayout height="22" flexDirection="row-reverse">
                    <!-- Use even flexGrow to achieve uniform grid -->
                    <Label text="1" backgroundColor="#EEEEEE" flexGrow="1" id="one"></Label>
                    <Label text="2" backgroundColor="#DDDDDD" flexGrow="1"></Label>
                    <Label text="3" backgroundColor="#CCCCCC" flexGrow="1"></Label>
                    <Label text="4" backgroundColor="#BBBBBB" flexGrow="1"></Label>
                    <Label text="5" backgroundColor="#AAAAAA" flexGrow="1"></Label>
                    <Label text="6" backgroundColor="#999999" flexGrow="1" id="six"></Label>
                </FlexboxLayout>

                <!-- Set flexGrow to accomodate into any extra space -->
                <ScrollView flexGrow="1" id="scrollview">

                    <!-- Wrap excessive items on new lines -->
                    <FlexboxLayout flexWrap="true" alignContent="flex-start">

                        <Label textWrap="true" text="Sed aliquet diam sed augue vestibulum scelerisque." id="title"></Label>

                        <!-- Use flexWrapBefore to control explicit line wrapping -->
                        <Label text="Gihub issue labels:" flexWrapBefore="true" fontSize="11"></Label>

                        <Label text="S: High" flexWrapBefore="true" borderRadius="5" backgroundColor="red" margin="2" id="firstlabel"></Label>
                        <Label text="T: Feature" borderRadius="5" backgroundColor="green" margin="2"></Label>
                        <Label text="3 - In Progress" borderRadius="5" backgroundColor="gray" margin="2"></Label>
                        <Label text="S: Ullamcorper" borderRadius="5" backgroundColor="red" margin="2" ></Label>
                        <Label text="T: Vulputate" borderRadius="5" backgroundColor="green" margin="2"></Label>
                        <Label text="2 - Egestas magna" borderRadius="5" backgroundColor="gray" margin="2"></Label>
                        <Label text="S: High" borderRadius="5" backgroundColor="red" margin="2"></Label>
                        <Label text="T: Phasellus" borderRadius="5" backgroundColor="green" margin="2"></Label>
                        <Label text="Nullam" borderRadius="5" backgroundColor="gray" margin="2"></Label>

                        <Label flexWrapBefore="true" textWrap="true" text="Pellentesque molestie nibh et leo facilisis gravida ac porttitor eros. Etiam tempus diam nulla, ut fermentum mauris aliquet quis. Cras finibus vitae magna in bibendum." id="description"></Label>
                    </FlexboxLayout>
                </ScrollView>
                <FlexboxLayout>
                    <Button text="&lt;" width="50" backgroundColor="gray"></Button>
                    <!-- Set flexGrow to 1 accomodate into any extra space -->
                    <Button text="reactions" flexGrow="1" backgroundColor="darkgray"></Button>
                    <Button text="&gt;" width="50" backgroundColor="gray"></Button>
                </FlexboxLayout>


                <FlexboxLayout>
                    <Switch></Switch>
                </FlexboxLayout>

                <FlexboxLayout class="m-15" flexDirection="row">
                    <Label class="h3" text="1" textWrap="true" width="100"></Label>
                    <Slider flexGrow="1" #slider minValue="1" maxValue="1000" [(ngModel)]="sliderValue" (valueChange)="newSliderValue(slider.value)"></Slider>
                    <Label class="h3" text="1000" textWrap="true" width="120"></Label>
                </FlexboxLayout>

            </FlexboxLayout>
        </StackLayout>
    </ng-template>


</TabView>
