<TabView [selectedIndex]="selectedIndex" (selectedIndexChange)="onIndexChanged($event)" iosIconRenderingMode="alwaysOriginal">
    <ActionBar [title]="actionBarTitle">
        <NavigationButton text=""></NavigationButton> <!--android.systemIcon="ic_menu_back"-->
    </ActionBar>


    <ng-template tabItem [iconSource]="selectedIndex == 0 ? 'res://map_orange' : 'res://map'">
        <StackLayout>
            <map></map>
        </StackLayout>
    </ng-template>

    <ng-template tabItem [iconSource]="selectedIndex == 1 ? 'res://contact_orange' : 'res://contact'">
        <FlexboxLayout flexDirection="column">

            <ListView  [items]="randomUserList" [class.visible]="listLoaded" (itemTap)="onUserTab($event)">
                <ng-template let-item="item">

                    <FlexboxLayout class="p-l-10" flexDirection="row">



                        <FlexboxLayout width="70">
                            <Image [src]="item.picture.thumbnail" ></Image>
                        </FlexboxLayout>

                        <FlexboxLayout class="m-l-20" flexDirection="row" flexGrow="1">
                            <ios>
                                <FlexboxLayout class="p-t-15" flexDirection="column">
                                    <StackLayout orientation="horizontal">
                                        <Label class="capitalize" textWrap="false" [text]="item.name.first"></Label>
                                        <Label class="capitalize m-l-5" textWrap="false" [text]="item.name.last"></Label>
                                    </StackLayout>

                                    <StackLayout orientation="horizontal">
                                        <Label class="capitalize city" textWrap="false" [text]="item.location.city"></Label>
                                    </StackLayout>
                                </FlexboxLayout>
                            </ios>

                            <android>
                                <FlexboxLayout class="p-t-15" flexDirection="column">
                                    <FlexboxLayout flexDirection="row">
                                        <Label class="capitalize" textWrap="false" [text]="item.name.first"></Label>
                                        <Label class="capitalize m-l-5" textWrap="false" [text]="item.name.last"></Label>
                                    </FlexboxLayout>

                                    <FlexboxLayout flexDirection="row">
                                        <Label class="capitalize city" [text]="item.location.city"></Label>
                                    </FlexboxLayout>
                                </FlexboxLayout>
                            </android>
                        </FlexboxLayout>


                        <FlexboxLayout width="50" (onTap)="onFavoriteIconTap(item)">
                            <Image width="20" [src]="item.favorite ? '~/images/heart_filled.png' : '~/images/heart_empty.png'"></Image>
                        </FlexboxLayout>


                    </FlexboxLayout>
                </ng-template>
            </ListView>


            <FlexboxLayout *ngIf="listLoaded" flexDirection="column" height="230">
                <FlexboxLayout class="favorite-label" height="50" alignItems="center">
                    <Label class="p-l-10" [text]="'Favoriten (' + favoriteUserList.length + ')'"></Label>
                </FlexboxLayout>

                <ScrollView orientation="horizontal" height="100%">
                    <FlexboxLayout>
                        <FlexboxLayout  flexDirection="column" alignItems="center" *ngFor="let user of favoriteUserList; let listIndex = index">
                            <FlexboxLayout class="m-l-5 m-r-5" flexDirection="column" alignItems="center" (onTap)="onFavoriteUserTap(listIndex)">
                                <Image class="favorite-image" [src]="user.picture.thumbnail"></Image>
                                <Label class="capitalize favorite-label-name" [text]="user.name.first"></Label>
                            </FlexboxLayout>
                        </FlexboxLayout>
                    </FlexboxLayout>
                </ScrollView>
            </FlexboxLayout>

            <ActivityIndicator #activityIndicator [busy]="isLoading" [visibility]="isLoading ? 'visible' : 'collapse'" width="30" height="30"></ActivityIndicator>

        </FlexboxLayout>
    </ng-template>

    <template tabItem [iconSource]="selectedIndex == 2 ? 'res://setting_orange' : 'res://setting'">
        <StackLayout class="settings-wrapper">
            <FlexboxLayout flexDirection="column">
                <FlexboxLayout class="p-l-15 p-t-15 p-b-5 heading">
                    <Label text="DATENQUELLE"></Label>
                </FlexboxLayout>

                <FlexboxLayout flexDirection="column" class="options">

                    <FlexboxLayout class="p-l-15 p-r-15 p-t-8 p-b-8 border-top" flexDirection="row" justifyContent="space-between">
                        <Label text="Option 1"></Label>
                        <Switch></Switch>
                    </FlexboxLayout>

                    <FlexboxLayout class="p-l-15 p-r-15 p-t-8 p-b-8" flexDirection="row" justifyContent="space-between">
                        <Label text="Option 2"></Label>
                        <Switch></Switch>
                    </FlexboxLayout>

                    <FlexboxLayout class="p-l-15 p-r-15 p-t-8 p-b-8" flexDirection="row" justifyContent="space-between">
                        <Label text="Option 3"></Label>
                        <Switch></Switch>
                    </FlexboxLayout>

                </FlexboxLayout>

                <FlexboxLayout class="p-l-15 p-t-15 p-b-5 heading">
                    <Label text="ELEMENTANZAHL"></Label>
                </FlexboxLayout>

                <FlexboxLayout class="p-l-15 p-r-15 p-t-10 p-b-10 slider-wrapper" flexDirection="column">
                    <FlexboxLayout justifyContent="space-between">
                        <FlexboxLayout class="m-l-8 rectangle"></FlexboxLayout>
                        <FlexboxLayout class="rectangle"></FlexboxLayout>
                    </FlexboxLayout>

                    <FlexboxLayout class="p-t-5">
                        <Slider flexGrow="1" #slider minValue="1" maxValue="1000" [(ngModel)]="sliderValue" (valueChange)="newSliderValue(slider.value)"></Slider>
                    </FlexboxLayout>
                </FlexboxLayout>

            </FlexboxLayout>
        </StackLayout>
    </template>


</TabView>
