<TabView [selectedIndex]="selectedIndex" (selectedIndexChange)="onIndexChanged($event)" iosIconRenderingMode="alwaysOriginal">
    <ActionBar [title]="actionBarTitle">
        <NavigationButton text=""></NavigationButton> <!--android.systemIcon="ic_menu_back"-->
    </ActionBar>


    <template tabItem [iconSource]="selectedIndex == 0 ? 'res://map_orange' : 'res://map'">
        <StackLayout>
            <map></map>
        </StackLayout>
    </template>

    <template tabItem [iconSource]="selectedIndex == 1 ? 'res://contact_orange' : 'res://contact'">
        <FlexboxLayout flexDirection="column">

            <ListView  [items]="randomUserList" [class.visible]="listLoaded" (itemTap)="onUserTab($event)">
                <template let-item="item">

                    <FlexboxLayout class="p-l-10" flexDirection="row">



                        <FlexboxLayout width="70">
                            <Image [src]="item.picture.large" ></Image>
                        </FlexboxLayout>

                        <FlexboxLayout class="m-l-20" flexDirection="row" flexGrow="1">
                            <ios>
                                <FlexboxLayout class="p-t-15" flexDirection="column">
                                    <StackLayout orientation="horizontal">
                                        <Label class="capitalize" textWrap="false" [text]="item.name.first"></Label>
                                        <Label class="capitalize m-l-5" textWrap="false" [text]="item.name.last"></Label>
                                    </StackLayout>

                                    <StackLayout orientation="horizontal">
                                        <Label class="capitalize city" textWrap="false" [text]="item.location.city"></Label>
                                    </StackLayout>
                                </FlexboxLayout>
                            </ios>

                            <android>
                                <FlexboxLayout class="p-t-15" flexDirection="column">
                                    <FlexboxLayout flexDirection="row">
                                        <Label class="capitalize" textWrap="false" [text]="item.name.first"></Label>
                                        <Label class="capitalize m-l-5" textWrap="false" [text]="item.name.last"></Label>
                                    </FlexboxLayout>

                                    <FlexboxLayout flexDirection="row">
                                        <Label class="capitalize city" [text]="item.location.city"></Label>
                                    </FlexboxLayout>
                                </FlexboxLayout>
                            </android>
                        </FlexboxLayout>


                        <FlexboxLayout width="50" (onTap)="onFavoriteIconTap(item)">
                            <Image width="20" [src]="item.favorite ? '~/images/heart_filled.png' : '~/images/heart_empty.png'"></Image>
                        </FlexboxLayout>


                    </FlexboxLayout>
                </template>
            </ListView>


            <FlexboxLayout *ngIf="listLoaded" flexDirection="column" height="230">
                <FlexboxLayout class="favorite-label" height="50" alignItems="center">
                    <Label class="p-l-10" [text]="'Favoriten (' + favoriteUserList.length + ')'"></Label>
                </FlexboxLayout>

                <ScrollView orientation="horizontal" height="100%">
                    <FlexboxLayout>
                        <FlexboxLayout  flexDirection="column" alignItems="center" *ngFor="let user of favoriteUserList; let listIndex = index">
                            <FlexboxLayout class="m-l-10 m-r-10" flexDirection="column" alignItems="center" (onTap)="onFavoriteUserTap(listIndex)">
                                <Image class="favorite-image" [src]="user.picture.large"></Image>
                                <Label class="capitalize favorite-label-name" [text]="user.name.first"></Label>
                            </FlexboxLayout>
                        </FlexboxLayout>
                    </FlexboxLayout>
                </ScrollView>
            </FlexboxLayout>


            <ActivityIndicator #activityIndicator [busy]="isLoading" [visibility]="isLoading ? 'visible' : 'collapse'"s width="30" height="30"></ActivityIndicator>

        </FlexboxLayout>
    </template>

    <template tabItem [iconSource]="selectedIndex == 2 ? 'res://setting_orange' : 'res://setting'">
        <StackLayout>
            <FlexboxLayout flexDirection="column">
                <!-- Reverse the natural flow of items -->
                <FlexboxLayout height="22" flexDirection="row-reverse">
                    <!-- Use even flexGrow to achieve uniform grid -->
                    <Label text="1" backgroundColor="#EEEEEE" flexGrow="1" id="one"></Label>
                    <Label text="2" backgroundColor="#DDDDDD" flexGrow="1"></Label>
                    <Label text="3" backgroundColor="#CCCCCC" flexGrow="1"></Label>
                    <Label text="4" backgroundColor="#BBBBBB" flexGrow="1"></Label>
                    <Label text="5" backgroundColor="#AAAAAA" flexGrow="1"></Label>
                    <Label text="6" backgroundColor="#999999" flexGrow="1" id="six"></Label>
                </FlexboxLayout>

                <!-- Set flexGrow to accomodate into any extra space -->
                <ScrollView flexGrow="1" id="scrollview">

                    <!-- Wrap excessive items on new lines -->
                    <FlexboxLayout flexWrap="wrap" alignContent="flex-start">

                        <Label textWrap="wrap" text="Sed aliquet diam sed augue vestibulum scelerisque." id="title"></Label>

                        <!-- Use flexWrapBefore to control explicit line wrapping -->
                        <Label text="Gihub issue labels:" flexWrapBefore="true" fontSize="11"></Label>

                        <Label text="S: High" flexWrapBefore="true" borderRadius="5" backgroundColor="red" margin="2" id="firstlabel"></Label>
                        <Label text="T: Feature" borderRadius="5" backgroundColor="green" margin="2"></Label>
                        <Label text="3 - In Progress" borderRadius="5" backgroundColor="gray" margin="2"></Label>
                        <Label text="S: Ullamcorper" borderRadius="5" backgroundColor="red" margin="2" ></Label>
                        <Label text="T: Vulputate" borderRadius="5" backgroundColor="green" margin="2"></Label>
                        <Label text="2 - Egestas magna" borderRadius="5" backgroundColor="gray" margin="2"></Label>
                        <Label text="S: High" borderRadius="5" backgroundColor="red" margin="2"></Label>
                        <Label text="T: Phasellus" borderRadius="5" backgroundColor="green" margin="2"></Label>
                        <Label text="Nullam" borderRadius="5" backgroundColor="gray" margin="2"></Label>

                        <Label flexWrapBefore="true" textWrap="wrap" text="Pellentesque molestie nibh et leo facilisis gravida ac porttitor eros. Etiam tempus diam nulla, ut fermentum mauris aliquet quis. Cras finibus vitae magna in bibendum." id="description"></Label>
                    </FlexboxLayout>
                </ScrollView>
                <FlexboxLayout>
                    <Button text="&lt;" width="50" backgroundColor="gray"></Button>
                    <!-- Set flexGrow to 1 accomodate into any extra space -->
                    <Button text="reactions" flexGrow="1" backgroundColor="darkgray"></Button>
                    <Button text="&gt;" width="50" backgroundColor="gray"></Button>
                </FlexboxLayout>


                <FlexboxLayout>
                    <Switch></Switch>
                </FlexboxLayout>


                <GridLayout class="m-15" rows="auto" columns="50 * 50">
                    <Label class="h3" text="1" textWrap="true" row="0" col="0"></Label>
                    <Slider #slider minValue="1" maxValue="1000" [(ngModel)]="sliderValue" (valueChange)="newSliderValue(slider.value)" row="0"
                            col="1"></Slider>
                    <Label class="h3" text="1000" textWrap="true" row="0" col="2"></Label>
                </GridLayout>

            </FlexboxLayout>
        </StackLayout>
    </template>
</TabView>
