.capitalize {
    text-transform: capitalize;
}

Image {
    width: 50vw;
    height: 50vw;
    border-radius: 45;
    margin: 10;
}

.city {
    font-size: 14dpi;
}

TabView {
    android-selected-tab-highlight-color: rgb(244,165,54);
    tab-background-color: rgb(221,232,244);
}

.favorite-image {
    width: 50vw;
    height: 50vw;
    border-radius: 50;
}

.favorite-label {
    background-color: rgb(239,239,244);
}

.favorite-label-name {
    font-size: 12dpi;
}

.settings-wrapper {
    background-color: #efeff4;
}

.settings-wrapper .options {
    background-color: white;
}

.settings-wrapper .options FlexboxLayout {
    border-bottom-color: #c8c7cc;
    border-bottom-width: 1;
}

.settings-wrapper .options .border-top{
    border-top-color: #c8c7cc;
    border-top-width: 1;
}

.settings-wrapper .slider-wrapper {
    background-color: white;
}

.settings-wrapper .heading {
    color: #6d6d72;
    font-size: 13;
}

.rectangle {
    width: 14;
    height: 14;
    border-radius: 3;
    border-width: 1;
    border-color: #000000;
}