.margin-top-10{
    margin-top: 10;
}

.padding-bottom-10 {
    padding-bottom: 10;
}

.capitalize {
    text-transform: capitalize;
}

Label {
    top: 0;
    padding-top: 25vh;
}

Image {
    width: 50vw;
    height: 50vw;
    border-radius: 45;
    margin: 10;
}