<StackLayout>
    <ActionBar title="Kontakte">
        <NavigationButton text=""></NavigationButton> <!--android.systemIcon="ic_menu_back"-->
    </ActionBar>

    <ScrollView>
        <FlexboxLayout class="p-b-10" flexDirection="column" alignItems="center">
            <FlexboxLayout flexDirection="column" width="100%" alignItems="center" class="person-wrapper m-b-30">
                <Image [src]="person.picture.large"></Image>

                <FlexboxLayout flexDirection="row" class="m-t-10">
                    <Label class="capitalize" [text]="person.name.first"></Label>
                    <Label class="capitalize m-l-5" [text]="person.name.last"></Label>
                </FlexboxLayout>

                <Label class="m-t-5 m-b-20 info" text="Seit einer Woche und drei Tagen in England"></Label>
                <Button text="add reaction" class="btn" (tap)="onAddReactionButtonTap()"></Button>
            </FlexboxLayout>


            <FlexboxLayout class="p-r-10" flexDirection="row" justifyContent="flex-start" width="100%" flexWrap="nowrap">
                <FlexboxLayout flexWrap="nowrap" justifyContent="center" alignItems="center" width="20%">
                    <Image width="20" src="res://map2"></Image>
                </FlexboxLayout>

                <FlexboxLayout class="person-details" flexWrap="wrap" width="80%">
                    <Label [text]="person.location.street + ', '" class="capitalize"></Label>
                    <Label class="p-r-5" [text]="person.location.postcode"></Label>
                    <Label class="capitalize" [text]="person.location.city"></Label>
                </FlexboxLayout>
            </FlexboxLayout>


            <FlexboxLayout class="separator"></FlexboxLayout>


            <FlexboxLayout flexDirection="row" justifyContent="flex-start" width="100%" flexWrap="nowrap">
                <FlexboxLayout flexWrap="nowrap" justifyContent="center" width="20%">
                    <Image width="20" src="res://phone" ></Image>
                </FlexboxLayout>

                <FlexboxLayout class="person-details" flexWrap="wrap" width="80%">
                    <Label [text]="person.cell"></Label>
                </FlexboxLayout>
            </FlexboxLayout>


            <FlexboxLayout class="separator"></FlexboxLayout>


            <FlexboxLayout flexDirection="row" justifyContent="flex-start" width="100%" flexWrap="nowrap">
                <FlexboxLayout flexWrap="nowrap" justifyContent="center" width="20%">
                    <Image height="20" src="res://world" ></Image>
                </FlexboxLayout>

                <FlexboxLayout class="person-details" flexWrap="wrap" width="80%">
                    <Label [text]="person.email"></Label>
                </FlexboxLayout>
            </FlexboxLayout>


            <FlexboxLayout class="separator"></FlexboxLayout>


        </FlexboxLayout>

        <ActivityIndicator *ngIf="isLoading " [busy]="isLoading " class="activity-indicator "></ActivityIndicator>
    </ScrollView>
</StackLayout>