<FlexboxLayout backgroundColor="red" flexDirection="column">
    <ListView  [items]="randomUserList" [class.visible]="listLoaded" (itemTap)="onUserTab($event)">
        <ng-template let-item="item">
            <FlexboxLayout flexDirection="row">

                <FlexboxLayout class="user-thumbnail">
                    <Label textWrap="false" [text]="item.initials"></Label>
                </FlexboxLayout>

                <FlexboxLayout class="user-details">

                    <FlexboxLayout class="name">
                        <Label textWrap="false" [text]="item.name.first"></Label>
                        <Label class="m-l-5" textWrap="false" [text]="item.name.last"></Label>
                    </FlexboxLayout>

                    <FlexboxLayout class="city">
                        <Label textWrap="true" [text]="item.location.city"></Label>
                    </FlexboxLayout>

                </FlexboxLayout>

                <FlexboxLayout width="50" (onTap)="onFavoriteIconTap(item)">
                    <Image width="20" [src]="item.favorite ? '~/images/heart2_filled.png' : '~/images/heart2_empty.png'"></Image>
                </FlexboxLayout>

            </FlexboxLayout>
        </ng-template>
    </ListView>

    <ActivityIndicator #activityIndicator [busy]="isLoading" [visibility]="isLoading ? 'visible' : 'collapse'" width="30" height="30"></ActivityIndicator>
</FlexboxLayout>